exportPattern("^[^\\.]")
import(corpcor,numDeriv, geiger, mvtnorm)
importFrom("ape", vcv.phylo, Ntip, branching.times, bind.tree, drop.tip, extract.clade)
importFrom("TreeSim", sim.bd.taxa.age)
importFrom("phytools", findMRCA, getDescendants, nodeheight, nodeHeights)
importFrom("phylobase", edges, descendants, ancestors, phyloXXYY, getNode, nodeHeight)
importFrom("grDevices", "chull", "dev.off", "pdf")
importFrom("graphics", "arrows", "lines", "par", "plot", "points", "text")
importFrom("methods", "as")
importFrom("stats", "optim", "predict", "quantile", "reorder", "rnorm", "runif", "smooth.spline")
